PERENUAL_API_KEY=replace-with-your-perenual-key
DEVICE_PERMANENT_PATH=/path/to/permanent/storage
MONGODB_URI=mongodb://mongo:27017/home-monitor
MONGODB_INITDB_ROOT_USERNAME=admin
MONGODB_INITDB_ROOT_PASSWORD=adminpassword